<h1>My App</h1>
<form action="/signup" method="get">
    <div class="form">
       <label class="form-label" for="fullname">Name:</label>
       <input class="form-control" id="fullname" name="fullname" type="text" placeholder="Enter fullname...">
    </div>
    <button class="btn btn-primary" type="submit">Start</button>
</form>