<h1>My App</h1>
<form action="/signup" method="get">
    <div class="form-control">
       <label for="fullname">Name:</label>
       <input id="fullname" name="fullname" type="text" placeholder="Enter fullname...">
    </div>
    <button type="submit">Start</button>
</form>