<header>
    <h1>Hello {{fullname}}</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus eaque maxime minima, quas provident commodi!</p>
</header>
<main>
    <form action="/home" method="post">
     <div class="form-control">
        <label for="userName">User Name</label>
        <input id="userName" name="userName" type="text">
     </div>
     <div class="form-control">
        <label for="emailAddress">Email</label>
        <input id="emailAddress" name="emailAddress" type="email">
     </div>
     <div class="form-control">
        <label for="password">Password</label>
        <input id="password" name="password" type="password">
     </div>
     <div class="form-control">
        <label for="confirmPassword">Confirm Password</label>
        <input id="confirmPassword" name="confirmPassword" type="password">
     </div>
    </form>
</main>